html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}

.App {
  text-align: center;
  font-size: 16px;
}

/* Form */
.form {
  margin: 10vh auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}
textarea {
  height: 100px !important;
  width: 100%;
  margin-bottom: 10px !important;
}
p {
  text-align: left;
}
button {
  align-self: flex-end;
}

/* Display */
.display {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  font-size: 40px;
}
.display__content {
  padding-bottom: 30vh;
}
.display__content__day {
  color: orangered;
  margin-bottom: 6vh;
}

.display__content__text {
  color: yellow;
  white-space: pre-wrap;
  line-height: 1em;
}
